<h2>User info</h2>
  <% @users.each do |user| %>
  <%= attachment_image_tag user,:profile_image, :fill, 20, 20, fallback: "no_image.jpg"  %>

  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>

      <tr>
        <th>introdacution</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>

  </table>
  <%end%>
  <div class="row">
    <div class="btn btn-outline-secondary btn-block">
      <%= link_to "aikon", edit_user_path(@user.id)  %>
    </div>
  </div>

  <div class="row">
    <h2>New book</h2>

    <%= form_with model: @book, local: true do |f| %>
      <h4>title</h4>
      <%= f.text_field :title %>
      <h4>Opinion</h4>
      <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
    <%end%>


  </div>
