<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <div class="container">
          <span><%= link_to "Bookers", root_path %></span>
          <ul class="navbar-nav ml-auto">

            <li class="nav-item p-2">
              Home
            </li>

            <li class="nav-item p-2">
              Users
            </li>

            <li class="nav-item p-2">
              Books
            </li>

            <li class="nav-item p-2">
              <%= link_to "logout", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      </nav>

      <% else %>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <div class="container">
          <span><%= link_to "Bookers", root_path %></span>
          <ul class="navbar-nav ml-auto">

            <li class="nav-item p-2">
              Home
            </li>

            <li class="nav-item p-2">
              <%= link_to "About", users_show_path %>
            </li>

            <li class="nav-item p-2">
              <%= link_to "sign_up", new_user_registration_path %>
            </li>

            <li class="nav-item p-2">
              <%= link_to "login", new_user_session_path %>
            </li>
          </ul>
        </div>
      </nav>
        </div>
      <% end %>
    </header>
    

    <div class="container">
     <%= yield %>
    </div>
   
   <footer>
      <div class="container mt-5">
          <div class="row">
            <div class="mx-auto">
              <p>CopyRight Infratop.inc</p>
            </div>
          </div>
      </div>
    </footer>
  </body>
</html>
