<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/f1f4eb41b3.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <div class="container">
          <span><%= link_to "Bookers", root_path %></span>
          <ul class="navbar-nav ml-auto">

            <li class="nav-item p-2">
              <i class="fas fa-home mx-2"><%= link_to 'Home',user_path(current_user.id) %></i>
            </li>

            <li class="nav-item p-2">
              <i class="fas fa-users mx-2"><%= link_to 'Users',users_path %></i>
            </li>

            <li class="nav-item p-2">
              <i class="fas fa-book-open mx-2"><%= link_to 'Books',books_path %></i>
            </li>

            <li class="nav-item p-2">
              <i class="fas fa-sign-out-alt mx-2 "><%= link_to "logout", destroy_user_session_path, method: :delete %></i>
            </li>
          </ul>
        </div>
      </nav>

      <% else %>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <div class="container">
          <span><%= link_to "Bookers", root_path %></span>
          <ul class="navbar-nav ml-auto">

            <li class="nav-item p-2">
              <i class="fas fa-home"><%= link_to "Home", root_path %></i>
            </li>

            <li class="nav-item p-2">
              <i class="fas fa-link"><%= link_to "About", about_path %></i>
            </li>

            <li class="nav-item p-2">
              <i class="fas fa-user-plus"><%= link_to "sign up", new_user_registration_path %></i>
            </li>

            <li class="nav-item p-2">
              <i class="fas fa-sign-in-alt"><%= link_to "login", new_user_session_path %></i>
            </li>
          </ul>
        </div>
      </nav>
        </div>
      <% end %>
    </header>


    <div class="container">
      <%= flash[:notice] %>
     <%= yield %>
    </div>

   <footer>
      <div class="container mt-5">
          <div class="row">
            <div class="mx-auto">
              <p>CopyRight Infratop.inc</p>
            </div>
          </div>
      </div>
    </footer>
  </body>
</html>
